html * {
    font-family: system-ui, sans-serif;
}
code {
    font-family: ui-monospace, monospace;
}
p {
    font-size: medium;
    white-space: normal;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo {
    max-height: 360px;
    min-width: 375px;
    max-width: 100%;
}
#container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    min-width: 400px;
}
#content {
    display: block;
    height: fit-content;
    margin-left: 16px;
    margin-right: 16px;
}
footer {
    margin: 16px;
}
h1 {
  text-align: center;
  line-height: 72px;
  font-size: 72px;
  font-family: ui-monospace, monospace;
  color: #fff;
  background-color: #464646;
  margin: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}
body {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
table {
    border-spacing: 0px;
    border-collapse: collapse;
}
th {
    border-bottom: #464646;
    border-bottom-width: 2pt;
    border-bottom-style: solid;
}
td {
    padding: 8px;
    margin-left: 8px;
    margin-right: 8px;
    border-color: #808080;
    border-width: 1px;
    border-style: solid;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}
